default:
  tags:
    - office
#    - amd64

stages:
  - build
  - deploy

variables:
  BUILD_PATH: "build"
  DEVELOPMENT_BRANCH: "dev"
  PRODUCTION_BRANCH: "main"
  NODE_IMG: "node:24"
  AWS_CLI_IMG: "amazon/aws-cli:2.17.50"

# Build stage for production
build_prod:
  stage: build
  image:
    name: $NODE_IMG
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - npm ci
  environment:
    name: production
  script:
    - CI=false npm run build
  artifacts:
    paths:
      - $BUILD_PATH/
    when: always

# Deploy stage for production
deploy_prod:
  stage: deploy
  image:
    name: $AWS_CLI_IMG
    entrypoint: [""]
  rules:
    - if: $CI_COMMIT_TAG
  environment:
    name: production
  # before_script:
  #   - aws --version
  script:
    - aws s3 sync --delete $BUILD_PATH s3://$CLOUD_FRONT_S3_BUCKET
    - aws cloudfront create-invalidation --distribution-id $CLOUD_FRONT_DISTRIBUTION_ID --paths "/*"
  when: always
